<!-- templates/index.html -->
<!DOCTYPE html>
<html>
<head>
    <title>Fodboldforudsigelse</title>
</head>
<body>
    <h2>Indtast hold</h2>
    <form action="/predict" method="post">
        <label for="Hometeam">Hjemmehold:</label><br>
        <input type="text" id="Hometeam" name="Hometeam"><br><br>
        <label for="Awayteam">Udehold:</label><br>
        <input type="text" id="Awayteam" name="Awayteam"><br><br>
        <input type="submit" value="Forudsig resultat">
    </form>
    <h3>{{ prediction_text }}</h3>
</body>
</html>
